.vscode/

*.out
*.o
*.a
*.so

*.class

arrays/*.out
linkedlist/*.out
stacks_queues/*.out
trees/*.out
graphs/*.out
DP/*.out

arrays/*.class
linkedlist/*.class
stacks_queues/*.class
trees/*.class
graphs/*.class
DP/*.class

.cache/
__pycache__

venv

build/
tests/user/
